{% extends "base.html" %}

{% block content %}
<head>
    <title>Создание курса</title>
    <link rel="stylesheet" href="..\static\CSS\made-something.css">
</head>
<section>
    <center>
        <div class="container">
            <form method="post" action="{{ url_for('fix_lesson_theory', id=id) }}" class="modal-content fix courseform">
                <label for="name" class="name"><b>Название темы</b></label>
                <textarea class="js-textarea" placeholder="Введите название темы" name="name" required>{{ cource_name }}</textarea>

                <label for="theory" class="discription"><b>Теория</b></label>
                <textarea class="js-textarea" placeholder="Введите теорию темы" name="theory" required>{{ lesson_theory }}</textarea>

                <label for="image" class="discription"><b>Картинки(если нужно)</b></label>
                <input class="js-textarea" type="file" name="image" accept="image/*" multiple>
                
                <div class="button-container">
                    <button type="submit" class="button">Обновить</button>
                </div>
            </form>
        </div>
    </center>
</section>
{% endblock %}
