{% extends "base.html" %}

{% block content %}
<head>
    <title>Создание курса</title>
    <link rel="stylesheet" href="..\static\CSS\made-something.css">
</head>
<section>
    <center>
        <div class="container">
            <form method="post" action="{{ url_for('make_lesson', id=id) }}" class="modal-content made lessonform">
                <label for="name" class="name"><b>Название задания</b></label>
                <textarea class="js-textarea" placeholder="Введите название задания" name="name" required></textarea>

                <label for="theory" class="discription"><b>текст задания</b></label>
                <textarea class="js-textarea" placeholder="Введите текст задания" name="theory" required></textarea>

                <label for="image" class="discription"><b>Картинки(если нужно)</b></label>
                <input class="js-textarea" type="file" name="image" accept="image/*" multiple>
                
                <label for="right_answer" class="discription"><b>Правильный ответ</b></label>
                <textarea class="js-textarea" placeholder="Введите правильный ответ" name="right_answer" required></textarea>

                <div class="button-container">
                    <button type="submit" class="button">Добавить</button>
                </div>
            </form>
        </div>
    </center>
</section>
{% endblock %}
